<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>TODO</title>
</head>
<body>
    <div class="box" id="heading">
    <h1> Its a <%= title %></h1>
    </div>

    <div class="box">
        
        <%for(i=0;i<newItems.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%= newItems[i]%></p>
            </div>
        <%}%>
        

        <form action="/" method="POST" class="item">
            <input type="text" name="task" placeholder="Add a task" autocomplete="off">
            <button type="submit" name="list" value="<%= title %>">+</button>
        </form>
    
    </div>
    
</body>
</html>